<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context = "http://www.springframework.org/schema/context" 
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


<bean id="adress" class="com.walmart.SampleMavenDemo.Model.Address" scope="singleton"> 
	<property name="city" value="CHN"></property> 
	<property name="state" value="TN"></property> 
</bean> 
<bean id="employee" class="com.walmart.SampleMavenDemo.Model.Employee" scope="singleton"> 
	<property name="age" value="30"></property> 
	<property name="name" value="Muthuraj"></property> 
	<property name="adr" ref="adress"></property> 
</bean> 
<bean id="adress1" class="com.walmart.SampleMavenDemo.Model.Address" scope="singleton"> 
	<property name="city" value="BLR"></property> 
	<property name="state" value="KN"></property> 
</bean> 
<bean id="employee1" class="com.walmart.SampleMavenDemo.Model.Employee" scope="singleton"> 
	<property name="age" value="30"></property> 
	<property name="name" value="Arulraj"></property> 
	<property name="adr" ref="adress1"></property> 
</bean> 


</beans>
